 
  .dropup-content a:hover {background-color: #ccc}
  
  .dropup:hover .dropup-content {
    display: block;
  }
  


@media only screen and (max-width: 500px){
.search{
    font-size: 12px;
}
.icon{
    width: 20px;
    height: 20px
}


} 